<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <h2>Categories overview</h2>
        <nav aria-label="categories navigation">
            <% if (categories.length > 0) { %>
                <ul>
                    <% categories.forEach(category => { %>
                        <li>
                            <a href="<%= category.url %>"><%= decode(category.name) %></a>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>No categories</p>
            <% } %>
        </nav>
        <a href="/categories/create">Create a new category</a>
    </main>

    <%- include("./partials/footer.ejs") %>
</body>