<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/header.ejs") %>
    
    <div class="wrapper">

        <main class="index">

            <h1>Categories</h1>

            <div class="user-actions">
                <div class="searchbar">
                    <input type="text" aria-label="search bar" class="searchbar-input" placeholder="Filter name...">
                </div>
                <a href="/categories/create">
                    <button class="btn primary" aria-label="Create new category">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 7H12H2ZM7 2V12V2Z" fill="white"/>
                            <path d="M2 7H12M7 2V12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        New category
                    </button>
                </a>
            </div>

            <% if (categories.length > 0) { %>

                <table>

                    <thead>
    
                            <th>Name</th>
                            <th>Description</th>
                        
                    </thead>
    
                    <tbody>

                        <% categories.forEach(category => { %>
                         
                            <tr data-name="<%= category.name %>">
                                <td><a href="categories/<%= category._id %>"><%= decode(category.name) %></a></td>
                                <td><%= decode(category.description) %></td>
                            </tr>

                        <% }) %>
    
                    </tbody>
    
                </table>
             
            <% } else { %>
                <p>
                    No category found.
                    <a href="/categories/create" class="bold">Create one ?</a>
                </p>
            <% } %>

        </main>

    </div>

</body>

<script>
    const input = document.querySelector(".searchbar-input");
    const tableBody = document.querySelector("tbody");
    const tableRows = document.querySelectorAll("tbody tr");

    input.addEventListener("input", (e) => {
        filterTable(e.target.value);
    });

    function filterTable(value) {
        let filteredTable = [];

        tableRows.forEach(row => {
            if (row.dataset.name.toLowerCase().includes(value.toLowerCase())) {
                filteredTable.push(row.outerHTML);
            };
        });

        tableBody.innerHTML = filteredTable.join('');
    };
</script>