<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/header.ejs") %>

    <div class="wrapper">

        <main class="form">

            <h1>New category</h1>
            <form action="<%= formAction %>" method="POST">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="<%- category?.name %>">
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea name="description" id="description" cols="30" rows="10"><%- category?.description %></textarea>
                </div>
                <button type="submit" class="btn primary">Submit</button>
            </form>

            <% if (errors) { %>
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error.msg %></li>
                    <% }) %>
                </ul>
            <% } %>
        </main>

    </div>
</body>