<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="wrapper">
        <main class="details">
            <h1><%= decode(potion.name) %></h1>
            <p><%= decode(potion.description) %></p>
            <div class="hr"></div>
                <div class="user-actions">
                    
                    <ul>
                        <li><strong>Prix :</strong> <%= potion.price %></li>
                        <li><strong>En stock :</strong> <%= potion.number_in_stock %></li>
                    </ul>
                    
                    <button class="btn tertiary" id="delete" data-id="<%= potion._id %>">
                        <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.69697 12.32C1.69697 13.2474 2.45665 14 3.39394 14H9.05051C9.98723 14 10.7475 13.2474 10.7475 12.32L11.8788 3.36H0.565657L1.69697 12.32ZM7.91919 5.04H9.05051V12.32H7.91919V5.04ZM5.65657 5.04H6.78788V12.32H5.65657V5.04ZM3.39394 5.04H4.52525V12.32H3.39394V5.04ZM11.596 1.12H7.91919C7.91919 1.12 7.66578 0 7.35354 0H5.09091C4.7781 0 4.52525 1.12 4.52525 1.12H0.848485C0.379556 1.12 0 1.49576 0 1.96C0 2.42424 0 2.8 0 2.8H12.4444C12.4444 2.8 12.4444 2.42424 12.4444 1.96C12.4444 1.49576 12.0643 1.12 11.596 1.12Z" fill="#250131"/>
                        </svg>
                        Delete potion</button>
                </div>
        </main>
        <script>
            const deleteBtn = document.querySelector("#delete");
            deleteBtn.addEventListener("click", () => {
                const url = `/potions/${deleteBtn.dataset.id}`;
                fetch(url, { method: 'DELETE' })
                .then(res => res.json())
                .then(res => window.location.replace(res.redirect))
                .catch(err => console.log(err));
            });
        </script>
    </div>
</body>